* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

ul {
    list-style: none;
}

/* background */
body {

    background-image: url("../img/diseño3.png");
    background-size: cover;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

/* header */
header {
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row-reverse;
    padding-bottom: 5px;
}

.header_nav {
    margin: 20px;
}

.logout1{
    display:none;
}
.header_nav ul {
    list-style: none;
    margin-top: 20px;
    padding: 0px;
    display: flex;
    flex-direction: row;
}

.login_register {
    text-decoration: none;
    color: black;
    font-size: 16px;
    margin-left: 30px;
}

.barra_busqueda {
    margin: 30px 0px;
    color: #2d2727;
    font-weight: bold;
    background-color: #AC9484;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
}

.logo {
    height: 100px;
    width: 100px;
    margin-left: 20px;
}

/* side bar */
.navside {
    background-color: #AC9484;
    padding-right: 10%;
}

.sidebar {

    height: 100%;
    width: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;

}

.categorias_ {
    text-decoration: none;
    color: #eae6dc;
    font-size: 16px;
    font-weight: 400;
    background-color: #2017172e;
    padding: 5px 30px;
    text-align: center;
    display: block;
    flex-direction: column;
    margin-left: 10px;
    border-radius: 25px;
}

.cat {
    margin-top: 12px;
}

.h2_cat {
    text-decoration: none;
    color: #201717;
    font-size: 18px;
    margin-top: 20px;
    margin-left: 5px;
    justify-self: center;

}

.homeside {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    font-weight: bold;
    color: #201717;
    font-size: 24px;
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 3px;
    /* justify-self: center; */ align-items: center;
}

.imagen {
    height: 325px;
    width: 250px;
    margin-bottom: 60px;
    margin-top: 10px;
    margin-right: 10px;
    border-radius: 10px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}



/* footer */
footer {
    background-color: #685041;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;

}


/* home */
img {
    height: 125px;
    width: 125px;
}

.img2 {
    height: 200px;
    width: 200px;
}

.img3 {
    height: 200px;
    width: 200px;
    margin-bottom: 20px;
}

.vendidos {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

/* .imagen_index {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
} */

.nuestrosprod {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-left: 30px;
}
.monet {
    width: 100%;
    height: 150px;
}

/* descripciones de las imagenes */
.precio {
    font-size: 14px;
    color: black;
    font-weight: lighter;
    margin-bottom: 5px;
    padding: 3px;
}

.texto {
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 200px;
}

/* .producto {
    font-size: 20px;
} */

/* boton de ver detalle */
.ver_detalle {
    text-decoration: none;
    background-color: #AC9484;
    color: #fffafa;
    padding: 8px;
    font-size: 14px;
}

/* titulos de secciones */
h2 {
    font-size: 50px;
    color: #2d2727;
}

/* login */
.login {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    height: 100vh;
}

.form {
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 30px;
    width: 400px;
}

.bienvenido {
    margin-bottom: 20px;
    font-size: 35px;
    text-align: center;
}

.email {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

.passw {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 10px;

}

.button {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    text-decoration: none;
}

.button button {
    text-decoration: none;
    color: black;
    background-color: beige;
    padding: 10px 20px;
    border-radius: 8px;
}

.notengocuenta {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    color: black;
    text-decoration: underline;
}

/* register */
.register_main {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    height: 100vh;
}

.register_section {
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 30px;
    width: 400px;
}

.registrate {
    margin-bottom: 20px;
    font-size: 35px;
    text-align: center;
}

.usuario {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

.no_register_div {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;

}

.no_register {
    margin-top: 10px;
    border-radius: 8px;
    text-decoration: none;
    width: 50%;
    background-color: beige;
    color: black;
}

.terms {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}

/* product */
.producto {
    display: flex;
    flex-direction: row;
    margin-bottom: 8%;
    margin-top: 8px;
    width: 100%;
}


.section1_producto {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}




.section2_producto{
    display: flex;
    flex-direction: column;
}


.marcadores_img {
    width: 200px;
    height: 200px;
    margin-right: 25px;
}


.product_h1 {
    font-size: 40px;
}

.product_h2 {
    font-size: 20px;
    margin-bottom: 15px;
}

.product_h3 {
    font-size: 15px;
    margin-bottom: 20px;
}

.descripcion {
    font-size: normal;
    margin-bottom: 20px;
}

.info_producto {
    width: 30%;
}

.categoria {
    font-size: large;
    margin-bottom: 15px;
}

.reviews {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 20px;
}

.unidades {
    font-size: medium;
    margin-bottom: 15px;
}



.tag_items {
    margin-bottom: 5px;
}

.review {
    margin-top: 5px;
    margin-bottom: 10px;
}

.rating {
    font-weight: 700;
}


.review_texto {
    font-size: 20px;
}


.datos_review {
    display: flex;
    flex-direction: row;
    margin-top: 5px;
    margin-bottom: 5px;
}

.nombre_review {
    font-size: 15px;
    margin-right: 5px;
}


.fecha {
    font-size: 15px;
}


/* categoria */
.categoria_pintura {
    margin-left: 10px;

}

.imagenes_categoria {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-left: 20px;
}

.monet_categoria {
    height: 150px;
    width: 100%;
}

/* busqueda */
.imagenes_busqueda {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

main {
    display: flex;
}

.seccion1_busqueda {
    margin-left: 100px;
}


.no_hay_resultados {
    display: none;
}

/* diseño responsive */
@media(max-width: 420px) {
    main {
        display: block;
    }

    aside {
        margin-bottom: 15px;
        display: block;
    }


    .nuestrosprod {
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
    }


    .vendidos {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        flex-direction: row;
        margin: 15px 0;
    }


    .header {
        display: flex;
        flex-wrap: wrap;
    }
    .logo{
        display: flex;
        flex-wrap: wrap;
    }
    
    .barra_busqueda{
        display: flex;
        flex-wrap: wrap;

    }
    .header_nav{
        display: flex;
        flex-wrap: wrap;
    }

    .navside {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        margin: 0px;
        justify-content: center;
        align-items: center;
        padding: 10px 0px 5px 0px;
        height: 300px;
    }


    .sidebar {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        justify-content: center;
    }

    ul {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
    }

    a.categorias {
        display: flex;
        flex-wrap: wrap;
    }

    .li_categoria {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        height: 30px;
        justify-content: flex-start;
        margin-bottom: 10%;
    }

    li {
        height: 30px;
    }

    .homeside {
        flex-wrap: wrap;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .imagen {
        width: 60%;
        height: 400px;
    }

    .section1_producto {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .marcadores_img {
        width: 108%;
        height: 350px;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .amarcadores_div {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .reviews {
        display: flex;
        flex-direction: column;
    }

    .product_h1 {
        font-size: 50px;
    }

    .review {
        max-width: 90%;
    }

    ul.categoria_sidebar{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-around;
        text-align: center;
        width: 100%;

    }

    .review_texto {
        max-width: 200px;
    }

    .imagenes_busqueda{
        display: flex;
        flex-direction: column;
    }
}