* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

ul {
    list-style: none;
} 

/* background */
body {
    background-image: url("../img/background.jpeg");
}

/* header */
header {
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 40px;
}
.header_nav {
    margin: 20px;
}
.login_register{
    text-decoration: none;
    color: black;
    font-size: 16px;
}
.barra_busqueda {
    margin: 30px 0px;
}
.logo {
    height: 100px;
    width: 100px;
    margin-right: 20px;
}

/* side bar */ 
.navside {
    background-color: white;
    margin-left: 40px;
}
.sidebar {
    
    height: 545px;
    width: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    margin-left: 20px;
}

.imagen {
    display: block;
    height: 250px;
    width: 250px;
    margin-bottom: 60px;
    margin-top: 10px;
    margin-right: 10px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


/* footer */
footer {
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
}

/* home*/
img {
    height: 125px;
    width: 125px;
}

.vendidos {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.imagen_index{
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
/* descripciones de las imagenes */
.precio{
 font-size: 16px;
 color: #88330f;
 font-weight: bold;
 margin-bottom: 10px;

}
.texto{
    font-size: 16px;
    margin-top: 10px;
    text-align: center;
}
.producto{
    font-size: 20px;
    
}
/* boton de ver detalle */
.ver_detalle{
    text-decoration: none;
    background-color: #EADBC8;
    color: #231f1f;
    padding: 5px; 
    border: 1px rgba(49, 41, 41, 0.96) solid;          
    font-size: 14px;
}

.nuestrosprod {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
/* titulos de secciones */
h2 {
    font-size: 50px;
    color: #2d2727;
}

/* login */
.login {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    height: 100vh;
}

.form {
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 30px;
    width: 400px;
}

.bienvenido {
    margin-bottom: 20px;
    font-size: 35px;
    text-align: center;
}

.email {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

.passw {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 10px;

}

.button {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    text-decoration: none;
}
.button button{
    text-decoration: none;
    color: black;
    background-color: beige;
    padding: 10px 20px;            
    border-radius: 8px;
}
.notengocuenta{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    color: black;
    text-decoration: underline;
}

/* register */

/* product */

/* categoria */
.categoria_pintura {
    display: flex;
    flex-wrap: wrap;
    margin-left: 30px;
    
}
.imagenes_categoria {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: baseline;
}

/* busqueda */
.imagenes_busqueda {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
main{
    display: flex;
}
.seccion1_busqueda {
    margin-left: 100px;
}

.imagen_bus {
    display: block;
    height: 250px;
    width: 250px;
    margin-bottom: 60px;
    margin-top: 10px;
    margin-right: 40px;
}

